/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

.column {
  height: 100%;
  display: flex !important;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex !important;
  flex-direction: row;
}

.stretch {
  flex: 1;
  overflow: hidden !important;
}
